@*Применяем наш слой*@
@{
    Layout = "_Layout";
}
@using System.Security.Claims

@using ToDoListWebAPI.Controllers;
@{
    var userEmail = (User.Identity as ClaimsIdentity)?.FindFirst(ClaimTypes.Email)?.Value;
}


<header class="header">
    <h2>Change your account</h2>
</header>

<main class="main">
    <div class="editor">
        <form method="post" action="/myhttpresults/ResultChangeDataAccount">
            <label>
                New Login
                <input type="text" id="_NewLoginProp" name="_NewLoginProp" placeholder="@User.Identity?.Name" class="text-input" />
            </label>


            <label>
                New Email
                <input type="text" id="_NewEmailProp" name="_NewEmailProp" placeholder="@userEmail" class="text-input" />
            </label>
            <label>
                Password
                <input type="text" id="_PassWord" name="_PassWord" class="text-input" />
            </label>
            <label>
                New password
                <input type="text" id="_NewPassword" name="_NewPassword" class="text-input" />
            </label>
            <input type="submit" value="Submit" class="submit">
        </form>

    </div>
</main>
