@model ToDoListWebDomain.Domain.Models.UserRegistration;

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header class="main-header">
            <h1>Creating new account</h1>
        </header>
        
        <main class="main-content registration">
            <div class="editor account-form">

                <form asp-controller="Account" asp-action="Register" method="post">
                    @Html.AntiForgeryToken()

                    <div>
                        <label asp-for="LoginProp">
                            Login:
                            <input type="text" asp-for="LoginProp"  class="text-input" required placeholder="Login" />
                        </label>

                    </div>

                    <div>
                        <label asp-for="EmailProp">
                            Email:
                            <input type="text" asp-for"EmailProp"  class="text-input" required placeholder="Email" />
                        </label>

                    </div>

                    <div>
                        <label asp-for="Password">
                            Password:
                            <input type="password" asp-for="Password"  class="text-input" required placeholder="Password" />
                        </label>

                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">
                            Confirm password:
                            <input type="password" asp-for="ConfirmPassword"  class="text-input" required placeholder="Confirm password" />
                        </label>

                    </div>
                    <button type="submit" class="submit">Register</button>
                </form>

            </div>
            @*Кнопка для того что б перейти к регестрации(На случай если нет аккаунта) знаю так делают просто*@
            <a class="button" href="@Url.Action("Login", "Account")">
                I have account already
            </a>
        </main>
    
        
    </body>

</html>


