@model ToDoListWebDomain.Domain.Models.UserRegistration;

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header class="main-header">
            <h1>Creating new account</h1>
        </header>
        
        <main class="main-content registration">
            <div class="editor account-form">

                <form method="post" action="/myhttpresults/ResultRegisterUser">

                    <div>
                        <label>
                            Login:
                            <input type="text" name="_LoginProp" id="_LoginProp" class="text-input" required placeholder="Login" />
                        </label>

                    </div>

                    <div>
                        <label>
                            Email:
                            <input type="text" name="_Email" id="_Email" class="text-input" required placeholder="Email" />
                        </label>

                    </div>

                    <div>
                        <label>
                            Password:
                            <input type="password" name="_Password" id="_Password" class="text-input" required placeholder="Password" />
                        </label>

                    </div>
                    <div>
                        <label>
                            Confirm password:
                            <input type="password" name="_ConfirmPassword" id="_ConfirmPassword" class="text-input" required placeholder="Confirm password" />
                        </label>
                    </div>
                    <button type="submit" class="submit">Register</button>
                </form>

            </div>
            @*Кнопка для того что б перейти к регестрации(На случай если нет аккаунта) знаю так делают просто*@
            <a class="button" href="@Url.Action("Login", "Account")">
                I have account already
            </a>
        </main>
    
        
    </body>

</html>


