@*Подключаем наш слой*@
@{
    Layout = "_Layout";
}
@model ToDoListWebDomain.Domain.Entity.ToDoTask;

<header class="header">
    <h2>Create new task</h2>
</header>

<main class="main">
    <div class="editor">
        <form action="/myhttpresults/resultaddtask" method="post">

           

            <label>
                Task name
                <input type="text" asp-for="NameTask" placeholder="Task name" class="text-input" required />
            </label>

            <label>
                Task description
                <textarea rows="10" cols="50" class="textarea text-input" type="text" asp-for="DescriptionTask" placeholder="Description" required></textarea>
            </label>

            <label>
                Date of completion
                <input required type="date" asp-for="TaskTime" placeholder="Date" class="text-input" />
            </label>
            <input type="hidden" asp-for="Status" value="In progress" />
            @*Сообщение об ошибки если пользователь не ввел данные во все поля*@
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p class="error-message">@ViewBag.ErrorMessage</p>
                
            }
          
            <input type="submit" value="Create" class="submit">

        </form>
    </div>
</main>

