@*Страница первоначальная на которой будет авторизация
не унаследуем от Loyout так как нам не нужно что б тут было видно наши все функции.Кнопки и тд*@

<link rel="stylesheet" href="~/css/site.css" />

<header class="main-header start-header">
    <h1>To Do List</h1>
    <div class="button-container">
        @*Если ты зареганый пользователь то показывается кнопка через которую можно перейти на главную страницу*@
        @if (User.Identity.IsAuthenticated)
        {
            <a class="button" href="@Url.Action("Index", "Home")">
                Home
            </a>
        }
        else
        {
            <a class="button" href="@Url.Action("Login", "Account", new { area = "" })">
                Login
            </a>
            <a class="button" href="@Url.Action("Register", "Account", new { area = "" })">
                Register
            </a>
        }
        
    </div>
</header>

<main class="main-content start-content">
    <div class="par-container">
        <h2 class="primary">
            "To Do List" is a website where you can store and create your notes
        </h2>
        @*Имя пользователя*@

        @if (User.Identity.IsAuthenticated)
        {
            <div class="login-notif">
                <p>
                    Hello, @User.Identity.Name!
                </p>
            </div>
            
        }

        
        <p class="secondary">
            Our website will help you to keep in mind your tasks so you will not mess up!
        </p>
    </div>
    <div class="pic-container">

    </div>
    
</main>





