@*Подключаем наш слой*@
@{
    Layout = "_Layout";
}

<header class="header">
    <h2>Create new task</h2>
</header>

<main class="main">
    <div class="editor">
        <form action="~/Task/GetTaskDb" method="post">

            @*(Это каментарий на Razor если что) в теге Label там где поле name не меняй его, это
            переменая на которую я ссылаюсь что б принять данные и записать их в базу данных
            ну и во всех Labal name это моя переменная
            *@

            <label>
                Task name
                <input type="text" name="TaskName" placeholder="Task name" class="text-input" />
            </label>

            <label>
                Task description
                <textarea rows="10" cols="50" class="textarea text-input" type="text" name="TaskDescription" placeholder="Description"></textarea>
            </label>

            <label>
                Date of completion
                <input type="date" name="TaskData" placeholder="Date" class="text-input" />
            </label>
            @*Сообщение об ошибки если пользователь не ввел данные во все поля*@
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p class="error-message">@ViewBag.ErrorMessage</p>
                
            }
          
            <input type="submit" value="Create" class="submit">

        </form>
    </div>
</main>

