@*Подключаем наш слой*@
@{
    Layout = "_Layout";
}

        

            <header class="header">
                <h2>Create new task</h2>
            </header>

            <main class="main">
                <div class="editor">
                    <form action="~/Task/GetTaskDb" method="post">
                        <label>Task name</label> <br />
                        @*(Это каментарий на Razor если что) в теге Label там где поле name не меняй его, это
                            переменая на которую я ссылаюсь что б принять данные и записать их в базу данных
                            ну и во всех Labal name это моя переменная
                        *@
                        <input type="text" name="TaskName" placeholder="Task name" /> <br />
                        <label>Task description</label> <br />
                        <textarea rows="10" cols="50" class="textarea" type="text" name="TaskDescription" placeholder="Description"></textarea> <br />
                        <label>Date of completion</label> <br />
                        <input type="date" name="TaskData" placeholder="Date" /> <br />
                        <input type="submit" value="Create" class="submit">
                    </form>
                </div>
            </main>
        
 