@using ToDoListWeb.Entity;
@using ToDoListWeb.Enums;
@using ToDoListWeb.Models;
@*Тут мы подключаем наш слой который находится в папке Shared*@
@{
    Layout = "_Layout";
}

<header class="header">
    <h2>Your tasks</h2>
</header>