@{
    Layout = "_Layout";
}
@using ToDoListWeb.Entity;

<header class="header">
    <h2>Profile</h2>
</header>

<main class="main">
    <div class="editor">
        <div class="container">
            @*Инфа пользователя*@
            <h2>Login: @User.Identity.Name!</h2>
            @*Выход из аккаунта*@

            <form action="/Account/Logout" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Log out" class="submit log-out">
            </form>
        </div>
        
    </div>

    

</main>
