@{
    Layout = "_Layout";
}
@using System.Security.Claims

@using ToDoListWeb.Entity;
@{
    var userEmail = (User.Identity as ClaimsIdentity)?.FindFirst(ClaimTypes.Email)?.Value;
    var currentUserEmail = TempData["CurrentUserEmail"] as string ?? userEmail;

}
<header class="header">
    <h2>Profile</h2>
</header>

<main class="main">
    <div class="editor">
        @*Выход из аккаунта*@

        <form action="/Account/Logout" method="post">
            @Html.AntiForgeryToken()
            <label>
                Your login: @User.Identity?.Name
            </label>
            <label>
                Your Email: @currentUserEmail
            </label>
            <input type="submit" value="Log out" class="submit log-out">
        </form>
        <a class="button" href="@Url.Action("EditUserData", "Account")">
            Edit Account
        </a>
    </div>

    

</main>
