@*Страница первоначальная на которой будет авторизация
не унаследуем от Loyout так как нам не нужно что б тут было видно наши все функции.Кнопки и тд*@
<h1>To Do List</h1>
<p>Якась інфа сайту </p>
<p>8===3</p>

<a class="button" href="@Url.Action("Login", "Account")">
    Login
</a>
<a class="button" href="@Url.Action("Register", "Account")">
    Register
</a>
