@model ToDoListWeb.Models.UserLogin;

<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    </head>
    <body>
        <header class="main-header">
            <h1>Logging in</h1>
        </header>

        <main class="main-content registration">
            <div class="editor account-form">
                <form action="/Account/Login" method="post">
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    <div>
                        <label for="LoginProp">Login:</label>
                        <input type="text" id="LoginProp" name="LoginProp" class="text-input" required placeholder="Login"/>
                    </div>

                    <div>
                        <label for="Password">Password:
                            <input type="password" id="Password" name="Password" class="text-input" required placeholder="Password"/>
                        </label>
                    </div>

                    <button type="submit" class="submit">Log in</button>
                </form>
            </div>
            @*Кнопка для того что б перейти к регестрации(На случай если нет аккаунта) знаю так делают просто*@
            <a class="button" href="@Url.Action("Register", "Account")">
                I do not have account
            </a>
        </main>
        
        

        

    </body>
</html>


