@model ToDoListWeb.Models.UserRegistration;


<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header class="main-header">
            <h1>Creating new account</h1>
        </header>
        
        <main class="main-content registration">
            <div class="editor account-form">
                <form action="/Account/Register" method="post">
                    @Html.AntiForgeryToken()

                    <div>
                        <label for="LoginProp">
                            Login:
                            <input type="text" id="LoginProp" name="LoginProp" class="text-input" required placeholder="Login" />
                        </label>

                    </div>

                    <div>
                        <label for="EmailProp">
                            Email:
                            <input type="text" id="EmailProp" name="EmailProp" class="text-input" required placeholder="Email" />
                        </label>

                    </div>

                    <div>
                        <label for="Password">
                            Password:
                            <input type="password" id="Password" name="Password" class="text-input" required placeholder="Password" />
                        </label>

                    </div>
                    <div>
                        <label for="ConfirmPassword">
                            Confirm password:
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="text-input" required placeholder="Confirm password" />
                        </label>

                    </div>
                    <button type="submit" class="submit">Register</button>
                </form>

            </div>
            @*Кнопка для того что б перейти к регестрации(На случай если нет аккаунта) знаю так делают просто*@
            <a class="button" href="@Url.Action("Login", "Account")">
                I have account already
            </a>
        </main>
        
    
        
    </body>

</html>


