@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    position: relative;
    padding: 20px 40px;
    background: #222;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .main-header h1 {
        color: whitesmoke;
    }

.main-content {
    background-color: whitesmoke;
    display: flex;
}

a {
    text-decoration: none;
    color: #222;
    transition: 0.2s;
}

.aside {
    width: 300px;
    min-height: 700px;
    background-color: white;
    border-right: 2px solid #9b9b9b;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

    .aside .button-container {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

        .aside .button-container .button {
            align-items: center;
            display: flex;
            margin: 10px 0px;
        }

            .aside .button-container .button .material-symbols-rounded {
                font-size: 20px;
            }

a:hover, .start-header .button:hover {
    color: #6262ff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .container .main {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

.task-container, .editor {
    margin: 20px;
    border: 2px solid #9b9b9b;
    transition: 0.2s;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 700px;
    background: white;
}

    .editor form, .editor .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .editor form label {
            display: flex;
            flex-direction: column;
            margin: 10px 5px;
        }

.task-container {
    flex-direction: row;
    justify-content: space-between
}

    .task-container .task {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

        .task-container .task > * {
            margin: 5px;
        }

        .task-container .task .task-id {
            font-weight: 400;
        }

    .task-container:hover {
        border: 2px solid #656;
    }

    .task-container .button-container {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    .task-container form .submit-button {
        background: none;
        border: none;
        transition: 0.2s;
    }

    .task-container form .edit:hover {
        color: #6262ff;
    }

    .task-container form .delete:hover {
        color: rgb(255, 89, 89);
    }

.container .header {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 2px solid #9b9b9b;
    padding: 20px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #222;
}

/*For CreatTask.cshtml*/

.textarea {
    max-width: 400px;
    max-height: 200px;
    min-width: 200px;
    min-height: 100px;
    resize: none;
}

.text-input {
    background: rgb(250, 250, 250);
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-top: 5px;
}

.submit {
    background: white;
    color: #222;
    transition: 0.2s;
    padding: 10px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: #9b9b9b 0px 0px 1.5px, #9b9b9b 0px 0px 0px 1.5px;
    margin: 10px 5px;
}

    .submit:hover {
        background: #222;
        box-shadow: #222 0px 0px 1.5px, #222 0px 0px 0px 1.5px;
        color: whitesmoke;
    }

    .submit:active {
        background: #6262ff;
        box-shadow: #6262ff 0px 0px 1.5px, #6262ff 0px 0px 0px 1.5px;
    }

.error-message {
    padding: 10px;
    background: rgb(255, 89, 89);
    border: 2px solid red;
    border-radius: 25px;
}

.log-out:hover {
    background: rgb(255, 89, 89);
    box-shadow: rgb(255, 89, 89) 0px 0px 1.5px, rgb(255, 89, 89) 0px 0px 0px 1.5px;
    color: whitesmoke;
}

/*Login, register*/

.start-header .button {
    color: whitesmoke;
    margin-left: 20px;
}

.start-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

    .start-header .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: max-content;
    }

.main-content .pic-container {
    background: url("https://media.npr.org/assets/img/2022/12/22/lk_harlan_to-do-list_final_slide-6aaf506ab59a595f8f3494bdcc51b1a98ab40789.jpg");
    background-position: center;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.main-content .par-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

    .main-content .par-container .secondary {
        padding: 20px;
    }

.start-content {
    display: flex;
    flex-direction: column;
}

.registration {
    padding: 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form {
    margin: 20px;
}

.registration .button {
    margin-bottom: 90px;
}

.login-notif {
    background-color: #dfdfdf;
    border: 2px solid #9b9b9b;
    border-radius: 10px;
    position: fixed;
    top: 100px;
    right: 75px;
    z-index: 100;
    padding: 10px;
    opacity: 0.8;
}

/*sort*/

.container.sort {
    padding-left: 20px;
}
